:root{
    --white:#ffffff;
    --yellow: #f5f0e1;
    --orange: #fba92c;
    --blue: #141414;
    --lime: #e2fdbd;
}

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Macondo', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.mainBar{
    max-width: 1280px;
    height: 20px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.kevin-main {
    color: var(--blue);
    font-size: 28px;
    text-emphasis: bold;
    text-decoration: none;
}

.navclick{
    user-select: none;
}

nav{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:99;
    background-color: var(--white);
    padding: 16px 32px;
    border-bottom: 3px solid black
}

.navother{
    display: block;
    position: relative;
    z-index: 1;
    border: none;

    user-select: none;
    appearance: none;
    outline: none;
    background: none;
}

.navother span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--blue);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.navother:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--white);
}

.navother.is_active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

.navother.is_active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.navother.is_active span:nth-child(2){
    opacity: 0;
}

.navother.is_active:hover span{
    background-color: var(--yellow);
}

.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0;

}

.navsmall {
    color: var(--blue);
    margin: 0 8px;
    transition: 0.6s;
    padding: 8px 16px;
    text-decoration: none;
} 

.navclick.is_active{
    color: var(--orange)
}

.navclick:hover{
    color: var(--orange);
    transform: scale(1.05);
    transition: 0.1s
}

.dropdown-content{
    position: fixed;
    height: 100%;
    width: 0px;
    overflow-x: hidden;
    background-color: var(--white);
    top: 55px;
    right: 0;
    padding-top: 8px;
    transition: 0.3s;
}

.dropdown-content .navclick {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: var(--blue);
    display: block;
    transition: 0.3s;
}

.dropdown-content .navclick.is_active, .navclick:hover {
    color: var(--orange);
    border-bottom-color: #fba92c;
}

.dropdown-section {
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#kevin-main {
    background-color:#fba92c;
}

#about-me {
    background-color: #e2fdbd;
}

#experience {
    background-color: aquamarine;
}

#project {
    background-color: aqua;
}

#contact {
    background-color: bisque;
}

#contact-me-id{
    height: 100vh;
    width: 100vw;
    display: grid;
    font-weight: bold;
    padding: 80px;
    padding-top: 125px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    gap: 15px;
}

#contact-me-title-id{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 26px;
}

#contact-ways-id{
    grid-row-start: 2;
    grid-row-end: 3;
}
#contact-form-id{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}



@media (min-width: 800px){
    .navother{
        display: none;
    }
    .menu{
        display: flex;
    }
    #mySideBar-id{
        display: none;
    }
}

@media (max-width: 800px){
    #contact-me-id{
        grid-template-columns: 1fr;
    }
    #contact-form-id{
        display: none;;
    }
}

